# Ignore Thumbs.db files, which are created by Windows to store thumbnail images for files
Thumbs.db
Thumbs.db:encryptable

# Ignore ehthumbs.db and ehthumbs_vista.db files, which are also related to thumbnail images
ehthumbs.db
ehthumbs_vista.db

# Ignore stack dump files, which are created when a program crashes
*.stackdump

# Ignore Desktop.ini files, which are used by Windows to store custom attributes of a folder
[Dd]esktop.ini

# Ignore the Recycle Bin folder, which is used by Windows to store deleted files
$RECYCLE.BIN/

# Ignore various types of installer files
*.cab
*.msi
*.msix
*.msm
*.msp

*.lnk
/.vs
/.gitignore
